@font-face {
  font-family: "iconfont"; /* Project id 2840275 */
  src: url("iconfont.woff2?t=1659336223409") format("woff2"),
    url("iconfont.woff?t=1659336223409") format("woff"),
    url("iconfont.ttf?t=1659336223409") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.dc-e-screen:before {
  content: "\eb99";
}

.dc-e-col:before {
  content: "\ec7f";
}

.dc-e-toc:before {
  content: "\e60d";
}

.dc-e-delete:before {
  content: "\e67e";
}

.dc-e-redo:before {
  content: "\e652";
}

.dc-e-undo:before {
  content: "\e739";
}

.dc-e-img:before {
  content: "\e61b";
}

.dc-e-link:before {
  content: "\e7e2";
}

.dc-e-table:before {
  content: "\e63e";
}

.dc-e-crossline:before {
  content: "\e63a";
}

.dc-e-bold:before {
  content: "\e7f7";
}

.dc-e-upload:before {
  content: "\ebb3";
}

.dc-e-title:before {
  content: "\ec84";
}

.dc-e-underline:before {
  content: "\ec85";
}

.dc-e-italic:before {
  content: "\ec86";
}

.dc-e-mark:before {
  content: "\e663";
}

.dc-e-quote:before {
  content: "\e60c";
}

.dc-e-ol:before {
  content: "\e612";
}

.dc-e-li:before {
  content: "\e620";
}

.dc-e-code:before {
  content: "\e616";
}

.dc-overview:before {
  content: "\e69d";
}

.dc-demo:before {
  content: "\e7b5";
}

.dc-post:before {
  content: "\e622";
}

.dc-content:before {
  content: "\e6a6";
}

.dc-menu:before {
  content: "\e64f";
}

.dc-setting:before {
  content: "\e63f";
}

.dc-role:before {
  content: "\e646";
}

.dc-user:before {
  content: "\e64d";
}
