.dc-menu {
  @apply px-2 leading-8;
  &-title {
    @apply flex justify-between items-center px-2 leading-8  hover:bg-gray-600;
    &.active {
      @apply border-l-2 border-blue-400 bg-gray-600;
    }
  }
  .dc-submenu {
    transition: height ease-in-out 0.3s;
    &-item {
      @apply px-2 font-light border-l-2 border-gray-800 hover:bg-gray-600 hover:border-gray-600;
      &.active {
        @apply border-l-2 border-blue-400 bg-gray-600;
      }
      a {
        display: flex;
        align-items: center;
        padding-left: 1rem;
      }
    }
    &.is-hidden {
      height: 0;
      overflow: hidden;
    }
  }
}
